[submodule "src/Mods/Forums"]
	path = src/Mods/Forums
	url = https://github.com/dreamingg/duppy-forums/
[submodule "duppy-forums"]
	path = src/Mods/Forums
	url = https://github.com/dreamingg/duppy-forums.git
